  .dc {
    display: inline-flex;
    position: relative;
    font-size: var(--dc-label-font-size, 1rem);

    button {
      font-size: 100%;
      border: 0;
    }

    svg {
      width: var(--dc-arrow-size, 1.25rem);
      height: var(--dc-arrow-size, 1.25rem);
    }

    img {
      display:inline-block;
      width: var(--dc-logo-size, 10px);
      margin-right:5px;
      position:relative;
      opacity:1;
    }

    &__label_container {
      font: inherit;
      min-width: var(--dc-container-min-width, 125px);
      text-align: left;
      padding: var(--dc-container-padding, 0.5rem);
      cursor: pointer;

      &__label {
        margin: 0;
      }

      &__sublabel {
        font-size: var(--dc-sublabel-font-size, 0.75rem);
        font-style: italic;
        margin: 0;
        margin-top: 0.2rem;
      }
    }

    &__arrow {
      display: block;

      &__button {
        border: 0;
        height: 100%;
        padding: 0.5rem;
        font-weight: 500;
        cursor: pointer;
        line-height:0;
      }
    }

    nav {
      position: absolute;
      z-index:10;
      width: 100%;
      left: 0;
      overflow: hidden;

      div {
        padding: var(--dc-items-padding, 0.5rem);
        font-size: var(--dc-items-font-size, 0.875rem);
        font-weight: 300;
        cursor: pointer;

        &.dc_active {
          font-weight: 500;
        }
      }
      div:last-child {
        border-bottom: 0;
      }
    }

    &.dc__disabled {
      opacity:0.5;
      & > button {
        cursor:not-allowed;
      }
    }

    &.dc_no_label {
      & .dc__label_container__sublabel {
        font-style: normal;
      }
    }

    &.dc_no_delegations {
      .dc__label_container {
        min-width: auto;
      }
    }

    .dc__dropdown__item {
      text-align:left;
    }

    &.dc_no_label {
      .dc__label_container__sublabel {
        margin-top:0;
        font-size: var(--dc-items-font-size, 0.875rem);
      }
    }

    &.dc_theme__light {
      .dc__label_container {
        color: var(--dc-theme-light-label-color, #000);
        background-color: var(--dc-theme-light-bg-color, #fff);
        &:hover {
          background-color: var(--dc-theme-light-bg-color-hover,#fafafb);
        }

        &__sublabel {
          color: var(--dc-theme-light-sublabel-color, #8B8B8B);
        }
      }

      &.dc_no_label {
        .dc__label_container__sublabel {
          color: var(--dc-theme-light-label-color,#000);
        }
      }

      .dc__arrow__button {
        border-left: 1px solid var(--dc-theme-light-border-color, #e5e7eb);
        background-color: var(--dc-theme-light-bg-color, #fff);
        fill: var(--dc-theme-light-arrow-color,#b4b4b4);

        &:hover {
          background-color: var(--dc-theme-light-bg-color-hover,#fafafb);
        }
      }

      .dc__dropdown {
        color: var(--dc-theme-light-color, #000);
        background-color: var(--dc-theme-light-bg-color, #fff);
        border-top: 1px solid var(--dc-theme-light-border-color, #e5e7eb);

        &__item {
          border-bottom: 1px solid var(--dc-theme-light-border-color, #e5e7eb);
          &:hover {
            background-color: var(--dc-theme-light-bg-color-hover,#fafafb);
          }
        }
      }
    }

    &.dc_theme__dark {
      .dc__label_container {
        color: var(--dc-theme-dark-label-color, #fff);
        background-color: var(--dc-theme-dark-bg-color, #000);

        &:hover {
          background-color: var(--dc-theme-dark-bg-color-hover, #191919);
        }

        &__sublabel {
          color:var(--dc-theme-dark-sublabel-color, #878787)
        }
      }

      &.dc_no_label {
        .dc__label_container__sublabel {
          color:var(--dc-theme-dark-label-color, #fff);
        }
      }

      .dc__arrow__button {
        border-left: 1px solid var(--dc-theme-dark-border-color, #232323);
        background-color: var(--dc-theme-dark-bg-color, #000);
        fill: var(--dc-theme-dark-arrow-color, #a6a6a6);

        &:hover {
          background-color: var(--dc-theme-dark-bg-color-hover, #191919);
        }
      }

      .dc__dropdown {
        background-color: var(--dc-theme-dark-bg-color, #000);
        border-top: 1px solid var(--dc-theme-dark-border-color, #232323);

        &__item {
          color: var(--dc-theme-dark-color, #fff);
          border-bottom: 1px solid var(--dc-theme-dark-border-color, #232323);
          &:hover {
            background-color: var(--dc-theme-dark-bg-color-hover, #191919);
          }
        }
      }
    }

    &.dc_style__rounded {
      .dc__label_container {
        border-top-left-radius: var(--dc-rounded-radius, 0.5rem);
        border-bottom-left-radius: var(--dc-rounded-radius, 0.5rem);
      }
      .dc__arrow__button {
        border-top-right-radius: var(--dc-rounded-radius, 0.5rem);
        border-bottom-right-radius: var(--dc-rounded-radius, 0.5rem);
      }
      .dc__dropdown {
        border-bottom-left-radius: var(--dc-rounded-radius, 0.5rem);
        border-bottom-right-radius: var(--dc-rounded-radius, 0.5rem);
      }
      &.dc_dropdown_active {
        .dc__label_container {
          border-bottom-left-radius: 0;
        }
        .dc__arrow__button {
          border-bottom-right-radius: 0;
        }
      }

      &.dc_no_delegations {
        .dc__label_container {
          border-top-right-radius: var(--dc-rounded-radius, 0.5rem);
          border-bottom-right-radius: var(--dc-rounded-radius, 0.5rem);
        }
      }
    }
  }